<ngb-accordion [closeOthers]="true" activeIds="static-1">
	<ngb-panel id="static-1" title="Producción y Lanzamiento">
		<ng-template ngbPanelContent>
			<h3>Producción y lanzamiento</h3>
    <p>El 15 de septiembre de 2021, en la 2.ª Conferencia de Gundam, Sunrise reveló que se estaba trabajando en una nueva entrega de la serie Gundam, y se estrenaría el 2 de octubre de 2022 en MBS y TBS. El 29 de marzo de 2022, se anunció que se estrenará una precuela prólogo el 14 de julio de 2022.La serie está dirigida por Hiroshi Kobayashi, con Ryo Ando como codirector, Ichiro Okouchi supervisando y escribiendo guiones, mogmo diseñando los personajes. Marie Tagashira, Shuri Toida e Hirotoshi Takaya adaptan los diseños de mogmo para la animación, JNTHED, Kanetake Ebikawa, Wataru Inada, Ippei Gyōbu, Kenji Teraoka y Takayuki Yanase diseñan los mecanismos, Shinya Kusumegi, Kanta Suzuki y Seizei Maeda animan los mecanismos y Takashi Ohmama componiendo la música.2</p>
    <p>El tema de apertura es "Shukufuku" de YOASOBI.</p>
    <p>En la Comic-Con de San Diego de 2022, se anunció que la serie se transmitirá simultáneamente fuera de Japón.Crunchyroll obtuvo la licencia de la serie fuera de Asia.</p>
		</ng-template>
	</ngb-panel>

