<ngb-accordion [closeOthers]="true" activeIds="static-3">
<ngb-panel id="static-3" title="Acerca del Gundam">
    <ng-template ngbPanelContent>
        <h1>XVX-016 Gundam Aerial</h1>
        <div>
            <p>El XVX-016 Gundam Aerial es un mobile suit presentado en la serie Mobile Suit Gundam the Witch from Mercury. Es pilotado por Suletta Mercury.</p>
        </div>
        <div>
            <h2>Tecnología y características de combate</h2>
        <h3>Armamento</h3>
        <ul>
            <li>Beam Vulcan
                <p>Dos puertos de disparo están construidos en la frente. Estas son armas débiles de haz de disparo rápido que se utilizan para controlar el movimiento del enemigo, dañar equipos, etc.</p>
            </li>
            <li>Escutcheon
                <p>Una plataforma ofensiva y defensiva multipropósito compuesta por un sistema de armas de control remoto enjambre de próxima generación conocido popularmente como "GUND-BIT", que utiliza el FORMATO GUND para vincular orgánicamente a humanos y máquinas. Tiene propiedades de campo anti-haz.</p>
            </li>
            <li>Bit Stave
                <p>Cada bit (Bit Stave) se puede separar para funcionar como torreta móvil con cañones de haz incorporados o como escudo.</p>
            </li>
            <li>Beam Saber
                <p>Un arma para el combate cuerpo a cuerpo que genera una cuchilla de haz junto con el sensor de la empuñadura. Su montura se mueve hacia adelante cuando la antena la agarra.</p>
            </li>
            <li>Beam Rifle
                <p>El arma de fuego portátil de esta máquina. Almacenado en el soporte de la mochila cuando no está en uso, se separa y utiliza propulsores incorporados para equiparse automáticamente en la mano del Aerial.</p>
            </li>
            <li>Beam Blade
                <p>El Beam Rifle también se puede usar como Beam Blade generando un borde de haz masivo.</p>
            </li>
            <li>GUND-BIT Rifle
                <p>Al conectar los Bit Staves y hacerlo de cañón largo, el impulso de salida aumenta la potencia de fuego y mejora la precisión de disparo.</p>
            </li>
        </ul>
        <h3>Equipamiento y características especiales</h3>
            <ul>
                <li>Shell Unit
                    <p>Una terminal de control que permite la transmisión y el procesamiento de grandes cantidades de información entre el piloto y la máquina. Emite luz cuando el nivel de funcionamiento de GUND FORMAT alcanza una intensidad fija, como cuando se utilizan GUND-BIT.</p>
                </li>
                <li>Mirasoul Flight Unit
                    <p>Una unidad de vuelo desarrollada mediante la combinación de los recursos y las habilidades de los estudiantes de Earth House que reemplaza la mochila estándar para una propulsión adicional en el espacio para que coincida con la movilidad FP/A-77 Gundam Pharact. Tiene propulsores de maniobra giratorios incorporados equipados en ambos lados, se abren cuando están en uso. Los dos Beam Sabres de la mochila estándar se retienen y almacenan en un soporte retráctil en la parte inferior de los dos propulsores principales.</p>
                </li>
            </ul>
        
        <h3>Modos</h3>
            <ul>
                <li>Bit on Form
                    <p>Al conectar los Bit Staves a los puntos fijos de toda la máquina, no solo es posible reponer rápidamente la energía eléctrica y el propulsor de los Bits, sino que también mejora la movilidad y el rendimiento defensivo del propio Aerial.</p>
                </li>
            </ul>
        </div>
    </ng-template>
</ngb-panel>

