.div__footer{
    width:100%;
    background:pink;
    display:inline-block;
    justify-content: center;    
}

.inner__footer {
    width: 100%;
    background-color: #8e44ad;
    text-align: center;
}

.titulo__footer{
    color: #f5f6fa;
}

.item__footer, .item__hashtag{
    margin: 15% 5% 5% auto;
    height:10vh;
    width:10vw;
    color: #f5f6fa;
    text-transform: uppercase;
    text-decoration: none;
    font-size:1rem;
}

#ir__arriba__boton {
    position: fixed;
    z-index: 1000;
    right: 25px;
    bottom: 25px;
    background-color: rgb(25, 121, 169);
    color: blue;
    border-radius: 50%;
    transition: all .2s;
}

#ir__arriba__boton {
    cursor: pointer;
    transform: scale(1.1);
}

.ocultar{
    opacity: 0;
    visibility: hidden;
}

.mostrar{
    opacity: 1;
    visibility: visible;
}