<div class="div__footer">
    <h3 class="titulo__footer">Fuentes</h3>
        <a class="item__footer" href="https://alphacoders.com/">Alpha Coders</a>
        <a class="item__footer" href="https://gundam.fandom.com/">Gundam Wiki</a>
        <a href="" class="item__hashtag">Stop the war in Ukraine</a>
</div>

<div id="ir__arriba__boton" class=""> <!--La clase ocultar o mostrar no funciona-->
    <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-up" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c9de00" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <polyline points="6 15 12 9 18 15" />
        </svg>
        </button>
</div>