
<div>
<carousel>
    <slide>
      <img src="https://images7.alphacoders.com/127/1273756.jpg" alt="first slide" style="display: block; width: 50%;">
    </slide>
    <slide>
      <img src="https://images7.alphacoders.com/128/1283372.jpg" alt="second slide" style="display: block; width: 50%;">
    </slide>
    <slide>
      <img src="https://images2.alphacoders.com/128/1283125.jpg" alt="third slide" style="display: block; width: 50%;">
    </slide>
    <slide>
      <img src="https://images7.alphacoders.com/129/1290327.png" alt="fourth slide" style="display: block; width: 50%;">
    </slide>
  </carousel>
</div>