<ngb-accordion [closeOthers]="true" activeIds="static-5">
	<ngb-panel id="static-5" title="Personajes">
		<ng-template ngbPanelContent>
			<!--<h3>Personajes</h3>-->
                <ul>
                    <li>
                    <p>Suletta Mercury (スレッタ・マーキュリー Suretta Mākyurī)</p>
                        <p>Seiyū: Kana Ichinose</p>
                        <p>Originalmente nombrada como Ericht Samaya (エリクト・サマヤ Erikuto Samaya?), ella es una estudiante de segundo año en el departamento de pilotaje que se transfirió a la escuela desde Mercurio. Suletta es una niña tímida que tiene problemas para comunicarse con otras personas además de su madre. Ella es la piloto del Gundam Aerial desarrollado en Mercurio.</p>
                    </li>
                    <li>Miorine Rembran (ミオリネ・レンブラン Miorine Renburan)
                        <p>Seiyū: Lynn</p>
                        <p>Una estudiante de segundo año, atractiva y académicamente distinguida en el departamento de estrategia de gestión. Miorine es la única hija de Delling Rembran, presidente del Grupo Beneritt y presidente de la junta de la escuela. Su difunta madre era botánica y Miorine mantiene un pequeño invernadero en los terrenos de la escuela en su memoria. Tiene un fuerte sentimiento de rebeldía hacia su padre, quien apenas la reconoce más allá de su condición de familia.</p>
                    </li>
                    <li>Guel Jeturk (グエル・ジェターク Gueru Jetāku)
                        <p>Seiyū: Yōhei Azakami</p>
                        <p>Heredero de Jeturk Heavy Machinery, una de las tres sucursales del grupo, y estudiante de tercer año en el departamento de pilotaje. Guel tiene un temperamento rudo y se enoja rápidamente. Como piloto as de la Casa Jeturk, tiene absoluta confianza en sus propias habilidades, incluido el rango de "Portador" para indicar su estatus como el mejor duelista de la escuela, lo que también lo convierte en el prometido de Miorine, una posición que pierde ante Suletta después de que es derrotado por ella.</p>
                    </li>
                    <li>Elan Ceres (エラン・ケレス Eran Keresu)
                        <p>Seiyū: Natsuki Hanae</p>
                        <p>El piloto principal respaldado por Peil Technologies, una de las tres sucursales del grupo. Es un estudiante de tercer año en el departamento de pilotaje. Elan es una persona taciturna y solitaria, que no abre su corazón a nadie en la escuela. Tiene interés en Suletta.</p>
                    </li>
                    <li>Shaddiq Zenelli (シャディク・ゼネリ Shadiku Zeneri)
                        <p>Seiyū: Makoto Furukawa</p>
                        <p>Es hijo adoptivo del director ejecutivo de Grassley Defense Systems, una de las tres sucursales del grupo. Un estudiante de tercer año en el departamento de pilotaje que dirige la Grassley House. Aunque aún es un estudiante, Shaddiq también ha demostrado su habilidad en los negocios, es candidato a ejecutivo de próxima generación.</p>
                    </li>
                    <li>Nika Nanaura (ニカ・ナナウラ)
                        <p>Seiyū: Yume Miyamoto (caps.1-9), Haruka Shiraishi (caps.10-?)</p>
                        <p>Un estudiante terrestre de segundo año en el departamento de Mecánica que nació en la Tierra. Ella le da la bienvenida a Suletta a la Casa de la Tierra y convence a los otros miembros para que la acepten, pero también trabaja en las sombras con Shaddiq bajo las órdenes de un grupo desconocido.</p>
                    </li>
                    <li>Chuatury Panlunch (チュアチュリー・パンランチ Chuachurī Panranchi)
                        <p>Seiyū: Miyu Tomita</p>
                        <p>Es la mejor amiga de Nika y al igual que ella, también nació en la Tierra. Ella accedió a estudiar en la escuela como Piloto de Mobile Suits con el fin de mejorar la difícil situación de sus amigos y familiares en la Tierra y debido a ello, desarrolla un odio hacia los Spacians por la injusticia que viven los habitantes de la Tierra.</p>
                    </li>
                    <li>Elnora Samaya (エルノラ・サマヤ Erunora Samaya)
                        <p>Seiyū: Mamiko Noto</p>
                        <p>La madre de Erict y piloto de pruebas empleada por Ochs Earth, una empresa que investigó y desarrolló la tecnología GUND-Format para su uso en Mobile Suits. En el pasado, Cardo le trasplantó un brazo derecho GUND para salvar su vida. Tras el incidente de Fólkvangr, escapó de la destrucción del instituto y se ocultó. Años después del incidente, se unió a Shin Sei Development Corporation en Mercury para continuar con el desarrollo del formato GUND y finalmente fue nombrada presidenta. También usó un alias, ya que se pone una máscara para ocultar su verdadera identidad como Lady Prospera. La propia Elnora probó el XGF-02 Gundam Lfrith , un Mobile Suit de formato GUND desarrollado por el instituto. Sin embargo, Elnora no pudo activarlo hasta que su Código Permet se conectó a Erict.</p>
                    </li>
                    <li>Nadim Samaya (ナディム・サマヤ Nadimu Samaya)
                        <p>Seiyū: Hiroshi Tsuchida</p>
                        <p>El padre de Erict que se sacrificó para darles a Elnora y Erict la oportunidad de escapar.</p>
                    </li>
                    <li>Delling Rembran (デリング・レンブラン Deringu Renburan)
                        <p>Seiyū: Naoya Uchida3​</p>
                        <p>Un exmilitar que usó su influencia con Cathedra para planificar y ordenar una redada en el laboratorio de Fólkvangr donde se estaba desarrollando la tecnología "GUND Format", para detener la investigación antes de que terminara y Ochs Earth Corporation junto con ella. Varios años más tarde, Delling se convirtió en presidente del Grupo Benerit, un consorcio de las corporaciones más poderosas del espacio conocido. Además, Delling creó la Escuela de Tecnología Asticassia tanto para consolidar su influencia como para capacitar a la próxima generación de élites. La filosofía darwiniana de Delling de que solo los fuertes merecen sobrevivir se extiende a las políticas de su negocio, su escuela e incluso a su propia hija, ya que permitió que los derechos de su mano en matrimonio fueran un premio transferible en un duelo.</p>
                    </li>
                </ul>
	    </ng-template>
	</ngb-panel>


