*, *:before, *:after{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    background-color: #c0392b;
    color: #bdc3c7;
}

.section{
    padding: 30px;
}

.indicador__contenedor {
    width: 100%;
    position: fixed;
    top: 0;
    height: 7px;
    z-index: 1001;
}

.indicador__scroll {
    height: 100%;
    width: 0;
    background-color: rgb(25, 121, 169);
}

